.flat-container {
	padding:25px;
}
article.flat-container {
	padding:25px;
	/*min-height: 500px;*/
}

.flat-container p em {
  display: inline-block;
	margin-bottom: 5px;
}

.flat-container h2 {
	font-size:25px;
	display: inline-block;
	padding: 10px;
	padding-right:60px; 
}

.flat-container h2.alt {
	font-size:25px;
	display: inline-block;
	padding: 10px;
	padding-right:60px; 	
  background-color: #ef5350;
	color:white;
	padding-left:10px;
}

article.flat-container h2:hover {
	background-color: #ef5350;
	color:white;
	padding-left:10px;
}

article.flat-container h2.em {
	background-color: #ef5350;
	color:white;
	padding-left:10px;
}

article.flat-container h2 {
	color: #ef5350;
	background-color:white;
	transition: all 100ms ease-in-out;
	padding-left:0;
}

footer.flat-container h2 {
	background-color: white;
	color:#ef5350;
}

footer.flat-container {
	background-color: #ef5350;
	min-height: 100px;
}

footer.flat-container p {
	color:white;
	font-size:18px;
}

footer.flat-container p em {
	font-weight: 400;
	color:white;
}

footer.flat-container address {
	color:white;
}

footer.flat-container a {
	color:white;
}