ul.dashy-list {
	border-radius: 0;
}

ul.dashy-list .list-group-item {
	border-radius: 0 0 0 0;
	border:none;
	margin-bottom:5px;
	background-color: #ef5350;
	color:white;
}

ul.dashy-list .list-group-item:last-child {
	margin-bottom:0;
}

ul.dashy-list .list-group-item.has-sub-list {
	background-color: white;
	color:black;
	font-weight: 400;
	font-style: italic;
}

ul.dashy-list .list-group-item.has-sub-list ul {
	margin-top:20px;
	font-weight: 300;
	font-style: normal;

}