.dashy-topbar {
  padding:15px;
  border-radius: 0;
  background-color: white;
  border:0px;
  margin-bottom:0;
}

.dashy-topbar .navbar-brand {
  font-size:30px;
  color:#ef5350;
}




.dashy-topbar .navbar-nav {
  font-size:15px;
}

.dashy-topbar .navbar-nav li a {
	transition: all 100ms ease-in-out;
}


.dashy-topbar .navbar-nav li.dashy-active a, .dashy-topbar .navbar-nav li.dashy-active:hover a,
.dashy-topbar .navbar-nav li.active a, .dashy-topbar .navbar-nav li.active:hover a,
.dashy-topbar .navbar-nav li.active a, .dashy-topbar .navbar-nav li.dashy-active a:focus,
.dashy-topbar .navbar-nav li.active a, .dashy-topbar .navbar-nav li.active a:focus
 {
  color:white;
  background-color: #ef5350;	
}

.dashy-topbar .navbar-collapse {
	border:none;
}

.dashy-topbar button.navbar-toggle {
	border-color:#ef5350;
	color: #ef5350;
	border-radius: 0;
	transition: all 100ms ease-in-out;
}

.dashy-topbar button.navbar-toggle:hover, .dashy-topbar button.navbar-toggle:focus {
	border-color:white;
	background-color: #ef5350;
}

.dashy-topbar button.navbar-toggle span.icon-bar {
	background-color:#ef5350;
	transition: all 100ms ease-in-out;
}

.dashy-topbar button.navbar-toggle:hover span.icon-bar, .dashy-topbar button.navbar-toggle:focus span.icon-bar {
	background-color:white;
}

.fixed {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	z-index:10;
}
